/* #mainTitle {
    font-size: 200px;
} */

.jumbotron {
    background-image: url("../images/backGround9.png");
    color: white;
}

#classHeading2 {
    background-color: rgb(18, 7, 87);
}

#instructions {
    padding: 2%;
    border: solid 3px black;
    width: 100%;
    margin-top: 40px;
    float: left;
    background-image: url("../images/background3.jpg");
    color: white;
}

/* extra background images to easily change to */

#panelBody {
    /* background-image: url("../images/gemBackground.jpg"); */
    /* background-image: url("../images/gemBackground3.jpg"); */
    /* background-image: url("../images/backGround2.png"); */
    background-image: url("../images/gemBackground2.jpg");
}

#instructionBox {
    margin-top: 40px;
}

#totalScoreTargetBox {
    border: solid 3px black;
    height: 100px;
    text-align: center;
    width: 60%;
    margin-top: 20px;
    float: left;
    background-image: url("../images/background3.jpg");
    color: white;
    padding-top: 8px;
}

#winsLosesBox {
    border: solid 3px black;
    height: 100px;
    padding-top: 11px;
    text-align: center;
    font-weight: bolder;
    float: left;
    margin-top: 20px;
    width: 35%;
    margin-left: 5%;
    background-image: url("../images/background3.jpg");
    color: white;
}

.crystal {
    border: solid 4px black;
    height: 136px;
    width: 24%;
    float: left;
    background-color: white;
    margin-top: 20px;
    margin-right: .5%;
    margin-left: .5%;
}

#totalScoreTextBox {
    border: solid 3px black;
    height: 70px;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    float: left;
    background-image: url("../images/background3.jpg");
    color: white;
}

#currentTotalScoreBox {
    border: solid 3px black;
    height: 70px;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 40px;
    float: left;
    background-image: url("../images/background3.jpg");
    color: white;
    padding-bottom: 80px;
}