#mainTitle {
    /* font-size: 200px; */
}

.jumbotron {
    background-image: url("../images/backGround9.png");
    color:white;
    }
#classHeading2 {
    background-color: rgb(18, 7, 87);
}

#instructions {
border: solid 3px black;
background-color: beige;
color: darkgreen;
}

#panelBody {
    /* background-image: url("../images/gemBackground.jpg"); */
    /* background-image: url("../images/gemBackground3.jpg"); */
    /* background-image: url("../images/backGround2.png"); */
    background-image: url("../images/gemBackground2.jpg");
   
}
.crystal {
    border: solid 3px black;
    height: 136px;
    width: 136px;
    float: left;
    margin-left: 3px;
    background-color: white;
}

  #winsLosesBox {
    border: solid 3px black;
    height: 100px;
    margin-left: 5px;
    padding-top: 11px;
    font-weight: bolder;
    color: black;
    background-color: aliceblue;
}
#totalScoreTargetBox {
    border: solid 3px black;
    height: 100px;
    background-color: aliceblue;
        width: 33%;
    }
    #totalScoreTextBox {
    border: solid 3px black;
    height: 70px;
    text-align: center;
    background-color: aliceblue;
  }
  #currentTotalScoreBox {
    border: solid 3px black;
    height: 70px;
    text-align: center;
    background-color: aliceblue;
  }