/* #mainTitle {
    font-size: 200px;
} */

.jumbotron {
    background-image: url("../images/backGround9.png");
    color: white;
}

#classHeading2 {
    background-color: rgb(37, 69, 167);
    opacity:.8;
}

#instructions {
    padding: 2%;
    border: solid 3px black;
    width: 100%;
    margin-top: 40px;
    float: left;
    background-color: rgb(37, 69, 167);
    /* background-image: url("../images/background3.jpg"); */
    color: white;
    opacity:.85;
}

#instructions:hover {
opacity:.94;
}
/* extra background images to easily change to */

#panelBody {
    /* background-image: url("../images/gemBackground.jpg"); */
    /* background-image: url("../images/gemBackground3.jpg"); */
    /* background-image: url("../images/backGround2.png"); */
    background-image: url("../images/gemBackground2.jpg");
}

#instructionBox {
    margin-top: 40px;
}

#totalScoreTargetBox {
    border: solid 3px black;
    height: 100px;
    text-align: center;
    width: 60%;
    margin-top: 20px;
    float: left;
    background-color: rgb(37, 69, 167);
    /* background-image: url("../images/background3.jpg"); */
    color: white;
    padding-top: 8px;
    opacity:.8;
}

#winsLosesBox {
    border: solid 3px black;
    height: 100px;
    padding-top: 11px;
    text-align: center;
    font-weight: bolder;
    float: left;
    margin-top: 20px;
    width: 35%;
    margin-left: 5%;
    background-color: rgb(37, 69, 167);
    /* background-image: url("../images/background3.jpg"); */
    color: white;
    opacity:.8;
}

.crystal {
    border: solid 4px black;
    height: 136px;
    width: 24%;
    float: left;
    background-color: white;
    margin-top: 20px;
    margin-right: .5%;
    margin-left: .5%;
    opacity: .75;
}
.crystal:hover {
opacity:.9;
}
.crystal:active {
    opacity: .75;
    background-color: rgb(37, 69, 167);
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}
#totalScoreTextBox {
    border: solid 3px black;
    height: 70px;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    float: left;
    background-color: rgb(37, 69, 167);
    /* background-image: url("../images/background3.jpg"); */
    color: white;
    opacity:.8;
}

#currentTotalScoreBox {
    border: solid 3px black;
    height: 70px;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 40px;
    float: left;
    background-color: rgb(37, 69, 167);
    /* background-image: url("../images/background3.jpg"); */
    color: white;
    padding-bottom: 80px;
    opacity:.8;
}